<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecut.bili_insight.mapper.VideoCommentMapper">

    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO video_comment (task_id, bvid, comment_id, username, gender, content,
                                   normalized_content, text_type,
                                   like_count, reply_count, publish_time,
                                   sentiment_score, sentiment_label,
                                   sentiment_confidence, sentiment_intensity,
                                   sentiment_source, sentiment_version,
                                   emotion_tags_json, aspect, aspect_details_json)
        VALUES
        <foreach collection="comments" item="comment" separator=",">
            (#{comment.taskId}, #{comment.bvid}, #{comment.commentId}, #{comment.username},
             #{comment.gender}, #{comment.content},
             #{comment.normalizedContent}, #{comment.textType},
             #{comment.likeCount}, #{comment.replyCount}, #{comment.publishTime},
             #{comment.sentimentScore}, #{comment.sentimentLabel},
             #{comment.sentimentConfidence}, #{comment.sentimentIntensity},
             #{comment.sentimentSource}, #{comment.sentimentVersion},
             #{comment.emotionTagsJson}, #{comment.aspect}, #{comment.aspectDetailsJson})
        </foreach>
        ON DUPLICATE KEY UPDATE
            like_count = VALUES(like_count),
            reply_count = VALUES(reply_count),
            normalized_content = VALUES(normalized_content),
            sentiment_score = VALUES(sentiment_score),
            sentiment_label = VALUES(sentiment_label),
            sentiment_confidence = VALUES(sentiment_confidence),
            sentiment_intensity = VALUES(sentiment_intensity),
            sentiment_source = VALUES(sentiment_source),
            sentiment_version = VALUES(sentiment_version),
            emotion_tags_json = VALUES(emotion_tags_json),
            aspect = VALUES(aspect),
            aspect_details_json = VALUES(aspect_details_json)
    </insert>

    <select id="findByTaskId" resultType="com.ecut.bili_insight.entity.VideoComment">
        SELECT comment_id AS commentId, task_id AS taskId, bvid, username,
               gender, content, normalized_content AS normalizedContent,
               text_type AS textType,
               like_count AS likeCount, reply_count AS replyCount,
               publish_time AS publishTime, sentiment_score AS sentimentScore,
               sentiment_label AS sentimentLabel,
               sentiment_confidence AS sentimentConfidence,
               sentiment_intensity AS sentimentIntensity,
               sentiment_source AS sentimentSource,
               sentiment_version AS sentimentVersion,
               emotion_tags_json AS emotionTagsJson,
               aspect, aspect_details_json AS aspectDetailsJson
        FROM video_comment
        WHERE task_id = #{taskId}
        ORDER BY like_count DESC
    </select>

    <sql id="CommentBaseSelect">
        SELECT comment_id AS commentId, task_id AS taskId, bvid, username,
               gender, content, normalized_content AS normalizedContent,
               text_type AS textType,
               like_count AS likeCount, reply_count AS replyCount,
               publish_time AS publishTime, sentiment_score AS sentimentScore,
               sentiment_label AS sentimentLabel,
               sentiment_confidence AS sentimentConfidence,
               sentiment_intensity AS sentimentIntensity,
               sentiment_source AS sentimentSource,
               sentiment_version AS sentimentVersion,
               emotion_tags_json AS emotionTagsJson,
               aspect, aspect_details_json AS aspectDetailsJson
        FROM video_comment
    </sql>

    <sql id="CommentFilterWhere">
        <where>
            task_id = #{taskId}
            <if test="sentimentLabel != null and sentimentLabel != ''">
                AND sentiment_label = #{sentimentLabel}
            </if>
            <if test="aspect != null and aspect != ''">
                AND (
                    aspect = #{aspect}
                    OR JSON_SEARCH(aspect_details_json, 'one', #{aspect}, NULL, '$[*].aspect') IS NOT NULL
                )
            </if>
        </where>
    </sql>

    <select id="findPageByTaskId" resultType="com.ecut.bili_insight.entity.VideoComment">
        <include refid="CommentBaseSelect"/>
        <include refid="CommentFilterWhere"/>
        ORDER BY like_count DESC, comment_id DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="findByTaskIdAndSentiment" resultType="com.ecut.bili_insight.entity.VideoComment">
        SELECT comment_id AS commentId, task_id AS taskId, bvid, username,
               gender, content, normalized_content AS normalizedContent,
               text_type AS textType,
               like_count AS likeCount, reply_count AS replyCount,
               publish_time AS publishTime, sentiment_score AS sentimentScore,
               sentiment_label AS sentimentLabel,
               sentiment_confidence AS sentimentConfidence,
               sentiment_intensity AS sentimentIntensity,
               sentiment_source AS sentimentSource,
               sentiment_version AS sentimentVersion,
               emotion_tags_json AS emotionTagsJson,
               aspect, aspect_details_json AS aspectDetailsJson
        FROM video_comment
        WHERE task_id = #{taskId} AND sentiment_label = #{sentimentLabel}
        ORDER BY like_count DESC
    </select>

    <select id="findByTaskIdAndAspect" resultType="com.ecut.bili_insight.entity.VideoComment">
        SELECT comment_id AS commentId, task_id AS taskId, bvid, username,
               gender, content, normalized_content AS normalizedContent,
               text_type AS textType,
               like_count AS likeCount, reply_count AS replyCount,
               publish_time AS publishTime, sentiment_score AS sentimentScore,
               sentiment_label AS sentimentLabel,
               sentiment_confidence AS sentimentConfidence,
               sentiment_intensity AS sentimentIntensity,
               sentiment_source AS sentimentSource,
               sentiment_version AS sentimentVersion,
               emotion_tags_json AS emotionTagsJson,
               aspect, aspect_details_json AS aspectDetailsJson
        FROM video_comment
        WHERE task_id = #{taskId}
          AND (
            aspect = #{aspect}
            OR JSON_SEARCH(aspect_details_json, 'one', #{aspect}, NULL, '$[*].aspect') IS NOT NULL
          )
        ORDER BY like_count DESC
    </select>

    <select id="countByTaskId" resultType="int">
        SELECT COUNT(*) FROM video_comment WHERE task_id = #{taskId}
    </select>

    <select id="countByTaskIdWithFilters" resultType="int">
        SELECT COUNT(*)
        FROM video_comment
        <include refid="CommentFilterWhere"/>
    </select>

    <select id="countByTaskIdAndSentiment" resultType="int">
        SELECT COUNT(*) FROM video_comment
        WHERE task_id = #{taskId} AND sentiment_label = #{sentimentLabel}
    </select>

</mapper>
