<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecut.bili_insight.mapper.VideoInfoMapper">

    <insert id="batchInsertOrUpdate" parameterType="java.util.List">
        INSERT INTO video_info (bvid, aid, title, author, author_mid, publish_date, duration, view_count,
        like_count, coin_count, favorite_count, share_count, danmaku_count, description, cover_url)
        VALUES
        <foreach collection="videoList" item="video" separator=",">
            (#{video.bvid}, #{video.aid}, #{video.title}, #{video.author}, #{video.authorMid}, #{video.publishDate}, #{video.duration},
            #{video.viewCount}, #{video.likeCount}, #{video.coinCount}, #{video.favoriteCount}, #{video.shareCount},
            #{video.danmakuCount}, #{video.description}, #{video.coverUrl})
        </foreach>
        ON DUPLICATE KEY UPDATE
        title = VALUES(title),
        author = VALUES(author),
        author_mid = VALUES(author_mid),
        publish_date = VALUES(publish_date),
        duration = VALUES(duration),
        view_count = VALUES(view_count),
        like_count = VALUES(like_count),
        coin_count = VALUES(coin_count),
        favorite_count = VALUES(favorite_count),
        share_count = VALUES(share_count),
        danmaku_count = VALUES(danmaku_count),
        description = VALUES(description),
        cover_url = VALUES(cover_url),
        scraped_at = NOW();
    </insert>

    <select id="findAll" resultType="com.ecut.bili_insight.entity.VideoInfo">
        SELECT * FROM video_info ORDER BY view_count DESC;
    </select>

</mapper>