<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecut.bili_insight.mapper.VideoDanmakuMapper">

    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO video_danmaku (danmaku_id, task_id, bvid, content, dm_time, appear_time,
                                   normalized_content, text_type,
                                   sentiment_score, sentiment_label,
                                   sentiment_confidence, sentiment_intensity,
                                   sentiment_source, sentiment_version,
                                   emotion_tags_json)
        VALUES
        <foreach collection="danmakus" item="danmaku" separator=",">
            (#{danmaku.danmakuId}, #{danmaku.taskId}, #{danmaku.bvid}, #{danmaku.content},
             #{danmaku.dmTime}, #{danmaku.dmTime},
             #{danmaku.normalizedContent}, #{danmaku.textType},
             #{danmaku.sentimentScore}, #{danmaku.sentimentLabel},
             #{danmaku.sentimentConfidence}, #{danmaku.sentimentIntensity},
             #{danmaku.sentimentSource}, #{danmaku.sentimentVersion},
             #{danmaku.emotionTagsJson})
        </foreach>
    </insert>

    <select id="findByTaskId" resultType="com.ecut.bili_insight.entity.VideoDanmaku">
        SELECT danmaku_id AS danmakuId, task_id AS taskId, bvid, content,
               dm_time AS dmTime, appear_time AS appearTime,
               normalized_content AS normalizedContent,
               text_type AS textType,
               sentiment_score AS sentimentScore, sentiment_label AS sentimentLabel,
               sentiment_confidence AS sentimentConfidence,
               sentiment_intensity AS sentimentIntensity,
               sentiment_source AS sentimentSource,
               sentiment_version AS sentimentVersion,
               emotion_tags_json AS emotionTagsJson
        FROM video_danmaku
        WHERE task_id = #{taskId}
        ORDER BY dm_time ASC
    </select>

    <sql id="DanmakuBaseSelect">
        SELECT danmaku_id AS danmakuId, task_id AS taskId, bvid, content,
               dm_time AS dmTime, appear_time AS appearTime,
               normalized_content AS normalizedContent,
               text_type AS textType,
               sentiment_score AS sentimentScore, sentiment_label AS sentimentLabel,
               sentiment_confidence AS sentimentConfidence,
               sentiment_intensity AS sentimentIntensity,
               sentiment_source AS sentimentSource,
               sentiment_version AS sentimentVersion,
               emotion_tags_json AS emotionTagsJson
        FROM video_danmaku
    </sql>

    <sql id="DanmakuFilterWhere">
        <where>
            task_id = #{taskId}
            <if test="sentimentLabel != null and sentimentLabel != ''">
                AND sentiment_label = #{sentimentLabel}
            </if>
        </where>
    </sql>

    <select id="findPageByTaskId" resultType="com.ecut.bili_insight.entity.VideoDanmaku">
        <include refid="DanmakuBaseSelect"/>
        <include refid="DanmakuFilterWhere"/>
        ORDER BY dm_time ASC, danmaku_id ASC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="findByTaskIdAndSentiment" resultType="com.ecut.bili_insight.entity.VideoDanmaku">
        SELECT danmaku_id AS danmakuId, task_id AS taskId, bvid, content,
               dm_time AS dmTime, appear_time AS appearTime,
               normalized_content AS normalizedContent,
               text_type AS textType,
               sentiment_score AS sentimentScore, sentiment_label AS sentimentLabel,
               sentiment_confidence AS sentimentConfidence,
               sentiment_intensity AS sentimentIntensity,
               sentiment_source AS sentimentSource,
               sentiment_version AS sentimentVersion,
               emotion_tags_json AS emotionTagsJson
        FROM video_danmaku
        WHERE task_id = #{taskId} AND sentiment_label = #{sentimentLabel}
        ORDER BY dm_time ASC
    </select>

    <select id="countByTaskId" resultType="int">
        SELECT COUNT(*) FROM video_danmaku WHERE task_id = #{taskId}
    </select>

    <select id="countByTaskIdWithFilters" resultType="int">
        SELECT COUNT(*)
        FROM video_danmaku
        <include refid="DanmakuFilterWhere"/>
    </select>

</mapper>
