<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecut.bili_insight.mapper.VideoDanmakuMapper">

    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO video_danmaku (task_id, content, appear_time, sentiment_score, sentiment_label)
        VALUES
        <foreach collection="danmakus" item="danmaku" separator=",">
            (#{danmaku.taskId}, #{danmaku.content}, #{danmaku.appearTime},
             #{danmaku.sentimentScore}, #{danmaku.sentimentLabel})
        </foreach>
    </insert>

    <select id="findByTaskId" resultType="com.ecut.bili_insight.entity.VideoDanmaku">
        SELECT task_id AS taskId, content, appear_time AS appearTime,
               sentiment_score AS sentimentScore, sentiment_label AS sentimentLabel
        FROM video_danmaku
        WHERE task_id = #{taskId}
        ORDER BY appear_time ASC
    </select>

    <select id="findByTaskIdAndSentiment" resultType="com.ecut.bili_insight.entity.VideoDanmaku">
        SELECT task_id AS taskId, content, appear_time AS appearTime,
               sentiment_score AS sentimentScore, sentiment_label AS sentimentLabel
        FROM video_danmaku
        WHERE task_id = #{taskId} AND sentiment_label = #{sentimentLabel}
        ORDER BY appear_time ASC
    </select>

    <select id="countByTaskId" resultType="int">
        SELECT COUNT(*) FROM video_danmaku WHERE task_id = #{taskId}
    </select>

</mapper>
